# Node modules
/node_modules/

# Build output
/dist/
/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/.pnp/
/.pnp.js

# Environment variables
/.env
/.env.local
/.env.*.local

# OS-specific files
.DS_Store
Thumbs.db

# Vite
/vite.cache/
/.vite/

# IDE-specific files
/.idea/
/.vscode/

# Miscellaneous
*.log
*.swp
*.bak
