@import "tailwindcss";


@theme {
  --font-nunito:"Nunito", "sans-serif";
  --font-opensans:   "Open Sans", "sans-serif";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-primary: #19e445;
  --color-secondary: #48C78E;
  --color-accent: #FFA500;

  /* ... */
  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  /* ... */
}

.container {
  @apply max-w-[1280px] mx-auto px-4;
}

/* Hero Section Heading */
.hero-heading {
  @apply text-4xl md:text-6xl font-nunito text-white font-bold;
}

/* Hero Section Description */
.hero-description {
  @apply text-base md:text-lg font-opensans text-white font-normal;
}
